/* 
font-family: 'Montserrat Alternates', sans-serif;
familia tipográfica: 'Bebas Neue', cursiva;
 */

.texto {
  background-color: #f9ae19;
  column-count: 3;
  column-gap: ;
}

h1 {
  font-family: "Montserrat Alternates", sans-serif;
}

h2 {
  font-family: "Bebas Neue", cursive;
}
